<!DOCTYPE html>
<html>
<head>
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidxs a MercadoLiebre</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/styles.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>
    <img src=" /images/logo-mercado-liebre.svg" width="360" alt="Logo de MercadoLiebre">
   <!-- <img class="logo" src="images/logo-mercado-liebre.svg"> -->
    <p>Lugar para poner barra de búsqueda</p>
    <div class="buscador">
        <form action="/" method="POST">
            <input type="text" name="search" id="search" placeholder="Buscar...">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>

    <p><!--iconito de mano-->Buscar productos, marcas y más. Comprá en cuotas y sin tarjeta de crédito</p>
    <nav>
   <ul>
        <li><a href="">Ofertas</a></li>
        <li><a href="">Tiendas Oficiales</a></li>
        <li><a href="">Vender</a></li>
        <li><a href="">Ayuda</a></li>
   </ul>
   <ul>
        <li><a href="/register">Creá tu Cuenta <i class="fa fa-address-card"></i></a></li>
        <li><a href="/login">Ingresá <i class="fa  fa-sign-in-alt"></i></a></li>
        <li><a href="">Mis Compras <i class="fa fa-shopping-basket"></i></i></a></li>
    </ul>		
    
		<div>
			<button class="menu"><i class="fas fa-bars"></i></button>
		</div>
	</header>

	<section>
		<img class="banner" src="images/img-home-banner.jpg">
	</section>

	<main>
		<section>
			<h2 class="ofertas">Basado en tu última visita</h3>

			<article class="producto">
				<img src="images/img-cafetera-moulinex.jpg" alt="Imagen del producto">
				<div><i class="fa fa-truck camion"></i></div>
				<div class="precio">$6.770</div>
				<div class="descuento">40% OFF</div>
				<div class="descripcion">Cafetera Moulinex Dolce Gusto</div>
			</article>

			<article class="producto">
				<img src="images/img-macbook-pro-2019.jpg" alt="Imagen del producto">
				<div><i class="fa fa-truck camion"></i></div>
				<div class="precio">$230.000</div>
				<div class="descuento">20% OFF</div>
				<div class="descripcion">MacBook Pro 2019</div>
			</article>

			<article class="producto">
				<img src="images/img-tv-samsung-smart.jpg" alt="Imagen del producto">
				<div><i class="fa fa-truck camion"></i></div>
				<div class="precio">$70.500</div>
				<div class="descuento">5% OFF</div>
				<div class="descripcion">SmartTV Samsung 43"</div>
			</article>

			<article class="producto">
				<img src="images/img-samsung-galaxy-s10.jpg" alt="Imagen del producto">
				<div><i class="fa fa-truck camion"></i></div>
				<div class="precio">$70.500</div>
				<div class="descuento">5% OFF</div>
				<div class="descripcion">Samsung Galaxy S10</div>
			</article>
		</section>

		<section>
			<h2 class="ofertas">Ofertas</h3>

			<article class="producto">
				<img src="images/img-cafetera-moulinex.jpg" alt="Imagen del producto">
				<div><i class="fa fa-truck camion"></i></div>
				<div class="precio">$6.770</div>
				<div class="descuento">40% OFF</div>
				<div class="descripcion">Cafetera Moulinex Dolce Gusto</div>
			</article>

			<article class="producto">
				<img src="images/img-macbook-pro-2019.jpg" alt="Imagen del producto">
				<div><i class="fa fa-truck camion"></i></div>
				<div class="precio">$230.000</div>
				<div class="descuento">20% OFF</div>
				<div class="descripcion">Macbook Pro 2019</div>
			</article>

			<article class="producto">
				<img src="images/img-tv-samsung-smart.jpg" alt="Imagen del producto">
				<div><i class="fa fa-truck camion"></i></div>
				<div class="precio">$70.500</div>
				<div class="descuento">10% OFF</div>
				<div class="descripcion">SmartTV Samsung 43"</div>
			</article>

			<article class="producto">
				<img src="images/img-samsung-galaxy-s10.jpg" alt="Imagen del producto">
				<div><i class="fa fa-truck camion"></i></div>
				<div class="precio">$70.500</div>
				<div class="descuento">10% OFF</div>
				<div class="descripcion">Samsung Galaxy S10</div>
			</article>
		</section>
	</main>


	<footer>
		<article>
			<i class="fas fa-credit-card"></i>
			<h3>Pagá con tarjeta o en efectivo</h3>
			<p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
			</p>
		</article>

		<article>
			<i class="fas fa-gift"></i>
			<h3>Envío gratis desde $ 2.500</h3>
			<p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
			</p>
		</article>

		<article>
			<i class="fas fa-user-shield"></i>
			<h3>Seguridad, de principio a fin</h3>
			<p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
			</p>
		</article>

		<div>
			<p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
		</div>
	</footer>
</body>
</html>